*
{
    margin:0;
    padding: 0;
}
/* 
.button {
    background-color: #4CAF50;  Green 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  } */

.buttonNo{
    margin-left: 50px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 10000;
    animation-direction: alternate-reverse; 
    animation-timing-function: cubic-bezier(0.9, 0.1, 0.9, 0.1);;
    
}
.buttonYes{
    margin-left: 15px;
    outline: none;
}

@keyframes example {
    0%   {left:0px; top:0px;}
    10%   {left:500px; top:-100px;}
    20%   {left:-100px; top:230px;}
    30%   {left:800; top:-150;}
    40%   {left:-22px; top:33px;}
    50%   {left:650; top:200px;}
    60%   {left:-145px; top:-100px;}
    70%   {left:550px; top:245px;}
    80%   {left:100px; top:-150px;}
    90%   {left:682px; top:190px;}
    100%   {left:140px; top:-219px;}


  }


